.card {
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-header,
.card-body,
.card-footer {
  text-align: center;
}

.item-image {
  width: 80%;
  margin: 0 auto;
}
.operations-container {
  position: fixed;
  display: none;
  text-align: center;
  background-color: rgb(79, 174, 236);
  height: 300px;
  top: 200px;
  left: 600px;
  width: 700px;
  border: 1px solid rgb(245, 237, 237);
}

.form-label {
  color: dimgrey;
}

.form-item {
  margin-bottom: 10px;
}

.btn-submit {
  border: none;
  font-size: 1.1em;
  margin-left: 5px;
  width: 160px;
  height: 35px;
}

.window-content {
  display: none;
  position: fixed;
  left: 31.5%;
  top: 27%;
  width: 700px;
  height: 350px;
  background-color: rgb(79, 174, 236);
  border: 1px solid rgb(245, 237, 237);
}

.window-text-content {
  font-size: 2.2em;
  text-align: center;
  margin-top: 125px;
  margin-bottom: 40px;
}

.window-button {
  margin-left: 38%;
  width: 25%;
  height: 10%;
  bottom: 50px;
  background-color: green;
  border-width: 0;
  font-size: 1.2em;
  text-align: center;
  color: white;
}
